<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">


    <include resource="logbackConfig.xml"/>

    <contextName>crm-web</contextName>

    <!-- console appender定义 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L] [%thread] %m%n</pattern>
        </encoder>
    </appender>

    <!-- file appender定义 -->
    <appender name="dubboDemoAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${baseLogFilePath}/bdp-web.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${baseLogFilePath}/bdp-web.log.%d{yyyy-MM-dd-HH}
            </fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <!-- error日志 -->
    <appender name="dubboDemoErrorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${baseLogFilePath}/bdp-web-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${baseLogFilePath}/crm-web-error.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{68} %line - %msg%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- cache日志 -->
    <appender name="cacheAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${baseLogFilePath}/cache.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${baseLogFilePath}/cache.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{68} %line - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <!-- file asynch appender -->
    <appender name="fileAsyncInfoAppender" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="dubboDemoAppender"/>
    </appender>
    <appender name="fileAsyncErrAppender" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold >129</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>128</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="dubboDemoErrorAppender"/>
    </appender>

    <logger name="com.alibaba.dubbo" level="${frameworkLevel}" additivity="false"/>
    <logger name="org.springframework" level="${frameworkLevel}" additivity="false"/>

    <!-- mybatis log config -->
    <logger name="org.apache.ibatis" level="${mybatisLevel}" additivity="false"/>
    <logger name="java.sql.Connection" level="${mybatisLevel}" additivity="false"/>
    <logger name="java.sql.Statement" level="${mybatisLevel}" additivity="false"/>
    <logger name="java.sql.PreparedStatement" level="${mybatisLevel}" additivity="false"/>

    <!-- business code log config -->
    <!--<logger name="com.bj58.qifu" level="${qifuLevel}" additivity="false">
        <appender-ref ref="${qifuAppenderName:-fileAsyncInfoAppender}"/>
        <appender-ref ref="${qifuErrAppenderName:-fileAsyncErrAppender}"/>
    </logger>
    <logger name="cache" level="${cacheLevel}" additivity="false">
        <appender-ref ref="${cacheAppender:-cacheAppender}"/>
    </logger>-->
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="${qifuErrAppenderName:-fileAsyncErrAppender}"/>
    </root>


</configuration>
