<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.appname}"  />

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry  address="${zookeeper.server}" group="${dubbo.group}"/>

    <!--<dubbo:provider version="${provider.version}" />-->

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="${dubbo.port}"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.qf58.bd.api.extend.HiveJobService" ref="hiveJobService"/>
    <dubbo:service interface="com.qf58.bd.api.extend.HiveJobExportConfigService" ref="hiveJobExportConfigService" />
    <dubbo:service interface="com.qf58.bd.api.extend.HiveJobImportConfigService" ref="hiveJobImportConfigService" />
    <dubbo:service interface="com.qf58.bd.api.extend.HiveJobLogService" ref="hiveJobLogService" />

    <dubbo:service interface="com.qf58.bd.api.kylins.ClueKylinService" ref="clueKylinService" />
    <dubbo:service interface="com.qf58.bd.api.kylins.ProjectKylinService" ref="projectKylinService" />
    <dubbo:service interface="com.qf58.bd.api.kylins.SupplierKylinService" ref="supplierKylinService" />
    <dubbo:service interface="com.qf58.bd.api.kylins.OrderKylinService" ref="orderKylinService" />

    <dubbo:service interface="com.qf58.bd.api.extend.JobScheduleService" ref="jobScheduleService" />
    <dubbo:service interface="com.qf58.bd.api.extend.JobScheduleLogService" ref="jobScheduleLogService"/>
    <dubbo:service interface="com.qf58.bd.api.extend.UtilService" ref="utilService"/>


    <!--gio服务-->
    <dubbo:service interface="com.qf58.bd.api.extend.gio.GioDataService" ref="gioDataService" />
    <dubbo:service interface="com.qf58.bd.api.extend.gio.GioDataSourceService" ref="gioDataSourceService"/>
</beans>